/*************************GENERAL*************************/
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    font-family: 'Abhaya Libre', sans-serif; 
    color: #454545;
    background-color: #f9fafa;/*#f9fafa*/
}
.container{
    max-width: 1200px;
    margin:0 auto;
}

h1, h2, h3, h4, li, p, address, a{
    color: #1C2833;
}

h2{
    font-size: 3em;
    font-weight: 300;
    margin: 0 auto;
}

h3{
    font-size: 1.5em;
}

p{
    font-size: 1.5em;
}

a:link{
    text-decoration: none;
}

a:hover{
    color:#fff;
}

.réseaux, .footer-réseaux a{
    font-size: 2rem;
}

address{
    font-style: normal;
}

main{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 130px;
}

.italic{
    font-style: italic;
}

#présentation:target{
    padding-top: 3;
}

#projets:target{
    padding-top: 130px;
}

/*************************HEADER*************************/
header{
    position:fixed;
    width: 100%;
    padding: 1% 2%;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 20px black;
    box-sizing: border-box;
    background-color: #008B8B;
    z-index: 20;
}

header li{
    display: inline-block;
    font-size: 1.3em;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

header h1{
    font-size: 3.5em;
    font-weight: 500;
}

/*************************INTRO*************************/
.intro-box{
    display: flex;
    justify-content:center;
    flex-direction: row;
}

#intro{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-top: 50px;
    margin: 50px auto 0 auto;
    box-shadow: 10px 10px 30px;
    padding: 30px 0 0 0;
}

#intro p{
    font-size: 1em;
}

#intro a:hover{
    color: #008B8B;
}

.photo{
    width: 30%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20px;
    opacity: 0.9;
}

.contact{
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.contact ul{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.contact li{
    padding: 0 10px 10px 0;
    font-size: 1.2em;
}

.contact h1{
    font-size: 3.5em;
    font-weight: 500;
    line-height: 40px;
}

.réseaux{
    width: 100%;
    margin-top: 30px;
    background-color:#008B8B;
    opacity: 0.9;
}

.réseaux ul {
    display: flex;
    justify-content: center;
}

.réseaux li{
    padding: 18px 20px 15px 20px;
    width: 30px;
}

#intro .réseaux a:hover{
    color:#fff;
}

/*************************PRESENTATION*************************/
#présentation{
    position: static;
    z-index: 10;
    text-align: center;
    padding: 130px 0;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

#présentation h1{
    font-size: 2em;
    font-weight: 300;
}

#présentation p{
    font-size: 1.5em;
    margin-top: 20px;
    font-weight: 100;
}

/*************************EXPERIENCES*************************/
#expériences{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 130px 0;
}

.xp-box{
    display: flex;
    align-content: center;
    padding: 20px 0;
}

.xp-left{
    padding: 0 10px;
    width: 40%;
    border-right: 1px solid black;
    text-align: right;
}

.xp-right{
    padding: 0 10px;
    width: 60%;
    text-align: left;
}

.xp-right h3{
    padding: 0 0 10px 0;
}

.special-padding{
    padding: 10px 0 0 0;
}

#expériences li{
    list-style: none;
    padding: 0 0 3px 0;
    font-size: 1.3em;
}

#expériences p{
    padding: 0 0 3px 0;
    font-size: 1.3em;
}

/*************************FORMATIONS*************************/
#formations{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 130px 0;
}

#formations li{
    list-style: none;
    padding: 0 0 3px 0;
    font-size: 1.3em;
}

#formations p{
    padding: 0 0 3px 0;
    font-size: 1.3em;
}

#formations a:hover{
    color: #008B8B;
}

/*************************PROJETS*************************/

/****Carousel****/
#projets {
    text-align: center;
}

#projets h2{
    padding-bottom: 20px;
}
.carousel{
    position: relative; 
    margin-bottom: 4rem ;
}
.slider img {
    max-width: 100%;
    margin: 0 auto;
    display: none;
}

.carousel img.active {
    display: block;
    animation: fade 0.5s;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

#projets .left, .right {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: 4rem;
    opacity: 1;
    color: #888;
    cursor: pointer;
}

.left {
    left: 4.5rem;
}

.right {
    right: 4.5rem;
}

.carousel a:hover{
    color:#008B8B;
}
.carousel .description{
    margin: 2rem 0;
}
.carousel p{
    display:none;
}
.carousel p.active{
    display: block;
    animation: fade 0.5s;
}

/*************************BUTTON*************************/
.button{
    padding: 5px 10px;
    margin: 0 auto 50px auto;
    font-size: 1.4em;
    text-align: center;
    border-radius: 10px;
    background-color: #008B8B;
    width: 140px;
}

.button a:link{
    color: #fff;
}

.button a:visited{
    color: #fff;
}

.button a:hover{
    color: #454545;
}

/*************************FOOTER*************************/
footer{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

#footer-contact{
    display:flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#footer-contact ul{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

#footer-contact li{
    width: 200px;
    padding: 10px 0 0 0;
    font-size: 1.2em;
}

#footer-contact h1{
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 2.5em;
}

#footer-contact a:hover{
    color: #008B8B;
}

.footer-réseaux {
    width: 100%;
    margin-top: 20px;
    background-color:lightgrey;
    opacity: 0.9;
}

.footer-réseaux ul{
    display: flex;
    justify-content: center;
}

.footer-réseaux li{
    padding: 15px 20px 15px 20px;
    width: 30px;
}

/*************************RESPONSIVE*************************/
@media screen and (min-width: 501px) and (max-width: 1140px){

    /*HEADER*/
    header{
        flex-direction: column;
        align-items: center;
        }

    header ul{
        display: flex;
        flex-wrap: wrap;
        }

    header li{
        margin-left: auto;
        margin-right: auto;
        padding: 10px 10px;
        }

    /*INTRO*/
    .intro-box{
        text-align: center;
        }

    #intro{
        width: 90%;
        padding: 30px 0 0 0;
        margin-top: 80px;
        }

    #intro h1{
        font-size: 2.em;
    }

    #intro h3{
        font-size: 1.4em;
        }

    .photo{
        width: 40%;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        opacity: 0.9;
        padding: 0;
        }

    /*PRESENTATION*/
    #présentation{
        width: 95%;
        }

    /*EXPERIENCES*/
    #expériences{
        width: 90%;
        }

    /*FORMATIONS*/
    #formations{
        width: 100%;
        }

        /* PROJETS */
    /* carousel */
    #projets .left, .right {
        top:40%;
    }
}
@media screen and (max-width: 500px) {

    /*GENERAL*/
    #présentation:target{
        padding-top: 200px;
        }

    #expériences:target{
        padding-top: 200px;  
        }

    #formations:target{
        padding-top: 200px;  
        }

    #projets:target{
        padding-top: 200px;
        }

    /*HEADER*/
    header{
        flex-direction: column;
        align-items: center;
        }

    header ul{
        display: flex;
        flex-wrap: wrap;
        }

    header li{
        margin-left: auto;
        margin-right: auto;
        padding: 0 5px 5px 5px;
        font-size: 1em;
        }

    /*INTRO*/
    .intro-box{
        text-align: center;
        }

    #intro{
        width: 90%;
        padding: 30px 0 0 0;
        margin-top: 100px;
        }

    #intro h1{
        font-size: 2.7em;
        }

    #intro h3{
        font-size: 1.4em;
        }

    .photo{
        display: none;
        }

    .contact{
        padding-left: 0;
    }

    /*PRESENTATION*/
    #présentation{
        width: 95%;
        }

    /*EXPERIENCES*/
    #expériences{
        width: 100%;
        }

    #expériences li{
        list-style: none;
        padding: 0 0 10px 0;
        }

    /*FORMATIONS*/
    #formations{
        width: 100%;
        }

    /* PROJETS */
    /* carousel */
    #projets .left, .right {
        top:40%;
    }

    .left {
        left: 1rem;
    }
    
    .right {
        right: 1rem;
    }

    /*FOOTER*/
    #footer-contact h1{
        padding-top: 20px;
        }

    #footer-contact li{
        width: 100%;
        }
}
